<!doctype HTML>

<head>
  <title>Surprise!</title>
  <link href = "assets/style.css" rel = "stylesheet" type = "text/css">
</head>
<link href= "assets/style.css" rel = "stylesheet" type = "text/css">
<body>
  <h1>Welcome to the profile of <%= person %></h1>
  <p>You can view the photos and news feeds of <%= person %>   </p>
  <p><strong>Age: </strong><%= data.Age %><br />
  <strong>Sex: </strong><%= data.Sex %> <br /></p>
  <h2>Hobbies</h2>
  <ul><% data.Hobbies.forEach(function(items){%>
    <li>
      <%= items %>
    </li>
  <% })%>

</ul>
</body>
